.nav  {
	font-family: sans-serif;
	font-size: 20px;
	float: left;
	position: absolute;

}

#header{
	
	background-color: #5db7a5;
	position: fixed;
	left: 1%;
	top: 0;
	width: 98%;
	height: 6%;
	min-width: 98%;
	min-height: 7%;
	margin: 0px;
	padding-top: 0px;
	z-index: 100;
}
.nav > li{
	float: left;
}

.nav li a{
	background:#5db7a5;
	color: #FFFEEE;
	display: block;
	padding: 10px 12px;
}

.nav li a:hover{
	background:#6dbFa5;
}
.nav li a:active{
	-webkit-box-shadow:  1px -1px 0px #999;/*Chrome y Safari*/
    -moz-box-shadow:  1px -1px 0px #999;/*Firefox*/
    -o-box-shadow:  1px -1px 0px #999;/*Opera*/
    box-shadow:  1px -1px 0px #999;/*Estandar por defecto*/
    border:1px solid #E3E3E3;
}
.nav li ul{
	display: none;
	position: absolute;
	min-width: 140px;
	z-index: 1000;
}

.nav li:hover > ul{
	display: block;
}

.nav li ul li {
position:relative;
}
 
.nav li ul li ul {
right:-140px;
top:0;
}