body{
	color: #666;
	background-color: #F0F0F0;
}
.container{
	width: 800px;
	min-height: 600px;
	margin: auto;
	padding: 20px;
	background-color: #FFF;
	border: solid 1px #CCC;
}
.center{
	text-align: center;
}
.form input{
	width: 80%;
	padding: 6px;
}
.footer{
	font-size: 14px;
}
#resultados{
	min-height: 290px;
}
