* {
		list-style: none;
	text-decoration: none;
	margin: 0;
	padding: 0;
}
body{
	color: #666;
	background-color: #F0F0F0;
	z-index: -1;

}
.container{
	top: 8%;
	width: 90%;
	min-width: 90%;
	min-height: 600px;
	left: 3.5%;
	padding: 20px;
	background-color: #FFF;
	border: solid 1px #CCC;
	position: absolute;
}
.center{
	text-align: center;
}

.footer{
	font-size: 14px;
}
#resultados{
	margin-top: 50px;
	z-index: 100;
	min-height: 290px;
	font-size: 25px;
}


.modal{
	width: 100%;
	height: 100%;
	color: #000;
	position: fixed;
	background-image: url(../img/bg-modal.png);
	top: 0;
	left: 0;
	display: none;
	z-index: 10000;
	
}

.cerrar{	
	font-weight: 900;
	text-align: right;
}

.cerrar a{
	color: red;
}

#datos{
	background-color: #FFF;
	border-color: #000;
	border-style: solid;
	color: #FFF;
	position: absolute;
	top: 55%;
	left: 33%;
	width: 26%;
	height: 6%;
}

.tabla{
	margin: auto;
}

.tabla thead{
	color:#000;
	font-size: 22px;

}

.tabla tbody{
	color:#000F00;
}

.tabla thead tr td{
	width: 150px;
	height: 50px;
}

.direccion{
	width: 250px;
}
.nombre{
	width: 250px;
}

.correo{
	width: 200px;
}
.tabla tbody tr:hover td{
	background-color: #F0F0F0;
}

.tabla tbody tr td{
	height: 30px;
	padding-left: 30px;
	padding-right: 30px;
}

.busqueda {
	margin:auto;
}
.busqueda tr:hover{
	font-size: 20px;
	cursor: pointer;
}



 .nombresBusqueda{
	width: 350px;
}
.precio{
	width: 150px;
}

.link-to tbody tr:hover{
	cursor: pointer;
}

#Sinresultados{
	width:100%;
	padding:50px;
}

#Sinresultados ul li{
 list-style-image: url("../img/mas_50pxdown.png");
}

#form-NuevoCliente{
	position: absolute;	
	left:30%;
}

.info{
	color: black;
	font-size: 20px;
	border-radius: 15px;
	padding: 10px;
	background-color:#5db7a5;
	width:30%;
}

.newcostumer{
	position: absolute;
   top: 35%;
   left: 32.5%;
}

#tablaCompra{
	position:absolute;
	top: 90px;
	left:-10%;
	color: black;
	font-size:20;
}

#tablaCompra #thead{
	background-color: #5db7a5;
	padding-left:25px;
	padding-right: 25px;
	font-size:25px;
}

#tablaCompra #thead td{
	empty-cells:hide;
	min-width: 100px;
	max-width: 150px;
	padding-left:25px;
   padding-right: 25px;
	padding-top: 0px;
}

#tablaCompra input[type=button]{
	width:75px;
	height: 35px;
	margin-top: -20px;
}

#tablaCompra input[type=text]{
	width:50px;
	border-width:0;
	text-align:center;
	font-size: 18px;
}
#tablaCompra textarea{
	height: 35px;
}
#venta{
	position:fixed;	
	top:490px;
	left:1100px;
	width:100px;
	background-color:#6db7a5;
	padding:15px;
	border-radius:10px;
}

#venta button, input[type=submit]{
	width:105px;
	height: 35px;
}

